<h1>RAINFOREST</h1>
<h2>Products <% @products.length %></h2>
<%= link_to "New Product", "/products/new" %>

<% @products.each do |product| %>
  <p><%= link_to product.name, product %>, <%= product.formatted_price %></p>
<% end %>